{% extends 'Qbin/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content01%}

<div class="content-section text-dark">
  <section style="background-color:#198754;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="text-black my-5" style="border-radius: 25px ; background: #fff;">
            <div class="p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      <legend class="border-bottom mb-4"style="color: #198754;"><b>Register with mybinbuddy</b></legend>
                      {{ form | crispy }}
                    </fieldset>
                    <div class="form-group py-3">
                      <button class="btn btn-outline-success" type="submit">Register</button>
                    </div>
                  </form>
                  <div class="border-top pt-3">
                    <small class="text-muted">
                      Already Have An Account? <a class="ml-2" href="{% url 'login'%}">Sign In</a>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  {% endblock content01%}
  {% block js%}
  <script src="{% static 'user/assests/js/register.js' %}"></script>
  {% endblock js%}