@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); 
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: "Poppins", sans-serif; 
 
} 
 
body{ 
  background-color: #e6e3d4; 
} 
 



 
.btn a{ 
  text-decoration: none; 
} 
 
.user-image{ 
  height: 100%; 
  display: flex; 
  width: 3.5rem; 
  height: 3.75rem; 
  border-radius: 50%; 
} 
 
.user-image img{ 
  width: 100%; 
clip-path: circle(); 
} 
 
/* Our working process start  */ 
.work-container { 
  width: 100%; 
  display: flex; 
  padding: 2rem; 
  justify-content: space-around; 
 
} 
 
.work-card { 
  width: 33.3%; 
  /* background-color: #e6e3d4; */ 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
color: white; 
  background-color:#1d3f39 ; 
  padding: 2.5rem; 
  margin-left: 1rem; 
  border-radius: 0.5rem; 
} 
 
.work-img { 
  width: 6rem; 
  height: 6rem; 
  border-radius: 50%; 
  background-color: #1d3f39; 
  /* padding: 1rem auto; */ 
  margin-bottom: 1rem; 
 
} 
 
 
.work-img i { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  color: white; 
  font-size: 3.5rem; 
   
} 
 
.work-head h4 { 
  font-size: 1.3rem; 
} 
 
.work-para p { 
  font-size: 0.75rem; 
  text-align: center; 
} 
/* Our working process end */ 
 
@media (max-width: 768px) { 
  .work-container { 
    display: flex; 
    flex-direction: column; 
  } 
 
  .work-card { 
    width: 100%; 
  } 
} 
 
/* chatbot */ 
.chat-container { 
    display: flex; 
    flex-direction: column; 
    height: 500px; 
    width: 500px; 
    border: 1px solid black; 
    margin: 0 auto; 
  } 
  .chat-message { 
    display: flex; 
    flex-direction: row; 
    margin: 10px; 
  } 
  .message-text { 
    background-color: lightblue; 
    padding: 10px; 
    border-radius: 10px; 
    margin: 0 10px; 
  } 
  input[type="text"] { 
    width: 60%; 
    padding: 10px; 
    margin: 10px; 
    border-radius: 10px; 
    border: 1px solid gray; 
  } 
  input[type="submit"] { 
    padding: 10px; 
    margin: 10px; 
    border-radius: 10px; 
    border: 1px solid gray; 
    background-color: lightblue; 
    color: white; 
  } 
 
 
  .hero{ 
    height: 100vh; 
    width: 100%; 
    background-color: #1d3f39; 
    display: flex; 
    flex-direction: row; 
} 
.hero img{ 
  width: 100vw; 
} 
 
 
.group1{ 
    height: auto; 
background-color: #e6e3d4; 
padding-bottom: 40px; 
} 
.group1 h2{ 
  text-align: center; 
  font-size: 70px; 
  padding: 30px; 
  font-weight: 800; 
  color: #3d933d; 
} 
 
.group2{ 
    position: relative; 
    overflow-x: hidden; 
} 
.section{ 
    height: 700px; 
    width: 100vw; 
    display: flex; 
    flex-shrink: 0; 
    justify-content: space-around; 
    
} 
.section1{ 
width: 100%; 
display: flex; 
flex-direction: row; 
background-color: #558e4c; 
color: #1d3f39; 
} 
.section h2{ 
   
    font-size: 100px; 
    font-weight: 900; 
    text-transform: uppercase; 
letter-spacing: 3px; 
  
padding-top: 70px; 
} 
.section1 p{ 
    color: #ffffffdc; 
   width: 70%; 
 
     
} 
.section2{ 
  background-color:#1d3f39 ; 
} 
.rightsection1 span h2{ 
  color: #00bd68; 
} 
.pickup{ 
  height: 500px; 
 
} 
.pickupc{ 
  display: flex; 
flex-direction: row; 
width: 100%; 
} 
 
.rightp{ 
height: 100%; 
width: 50%; 
} 
.leftp{ 
  height: 100%; 
  width: 50%; 
 
  padding: 80px; 
  padding-left: 0px; 
} 
.leftp h4{ 
   
  width: 90%; 
  font-size: 15px; 
 
} 
.pickup h2{ 
  text-align: center; 
  font-size: 70px; 
    padding-bottom: 0px; 
  font-weight: 800; 
  color: #558e4c; 
} 
.pickimg img{ 
  height: 350px; 
  width: 380px; 
  padding-left: 50px; 
} 
 
 
.button-41 { 
  margin: 15px; 
  margin-left: 0px; 
  background-color: initial; 
  background-color: #558e4c; 
  border-radius: 5px; 
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px; 
  color: #FFFFFF; 
  cursor: pointer; 
  display: inline-block; 
  font-family: ple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif; 
  height: 44px; 
  line-height: 44px; 
  outline: 0; 
  overflow: hidden; 
  padding: 0 20px; 
  pointer-events: auto; 
  position: relative; 
  text-align: center; 
  touch-action: manipulation; 
  user-select: none; 
  -webkit-user-select: none; 
  vertical-align: top; 
  white-space: nowrap; 
   
  z-index: 9; 
  border: 0; 
} 
 
.button-41:hover { 
  background: #00bd68; 
} 
.leftsection1{ 
 width: 50%; 
 
 
} 
.rightsection1{ 
    width: 50%; 
  padding-top: 150px; 
    justify-content: center; 
    align-items: center; 
    
} 
.section2 .leftsection1{ 
    color: rgba(240, 248, 255, 0.851); 
    padding: 70px; 
} 
.wrapper{ 
    display: flex; 
    flex-wrap: nowrap; 
} 
 
 
 
.section1{ 
width: 100%; 
display: flex; 
flex-direction: row; 
} 
.section h2{ 
   
    font-size: 100px; 
    font-weight: 900; 
    text-transform: uppercase; 
letter-spacing: 3px; 
  color: #1d3f39; 
 
} 
.section1 p{ 
    color: #ffffffdc; 
   width: 70%; 
 
     
} 
.leftsection1{ 
 width: 50%; 
 
 
} 
.rightsection1{ 
    width: 50%; 
  padding-top: 180px; 
    justify-content: center; 
    align-items: center; 
    font-size: 13px; 
    
} 
.rightsection1 img{ 
  float: right; 
  padding-bottom: 30px; 
} 
.section2 .leftsection1{ 
    color: rgba(240, 248, 255, 0.851); 
    padding: 70px; 
} 
.wrapper{ 
    display: flex; 
    flex-wrap: nowrap; 
} 
 
.group3{ 
    height: 600px; 
    width: 100%; 
    display: flex; 
    flex-direction: row; 
} 
.group3 .right{ 
    height: 100%; 
    width: 35%; 
  background-color: #e6e3d4; 
} 
.right img{ 
  width: 100%; 
  height: 100%; 
} 
 
.group3 .left{ 
    height: 100%; 
    width: 65%; 
    
    padding: 90px; 
    padding-right: 60px; 
   
} 
.group3 .left h2{ 
  font-size: 60px; 
} 
 
/* footer */ 
 
.footer-distributed{ 
 background: rgb(0, 0, 0); 
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); 
 box-sizing: border-box; 
 width: 100%; 
 text-align: left; 
 font: bold 16px sans-serif; 
 padding: 55px 50px; 
} 
 
.footer-distributed .footer-left, 
.footer-distributed .footer-center, 
.footer-distributed .footer-right{ 
 display: inline-block; 
 vertical-align: top; 
} 
 
/* Footer left */ 
 
.footer-distributed .footer-left{ 
 width: 40%; 
} 
 
/* The company logo */ 
 
.footer-distributed h3{ 
 color:  #ffffff; 
 font: normal 36px 'Open Sans', cursive; 
 margin: 0; 
} 
 
.footer-distributed h3 span{ 
 color:  lightseagreen; 
} 
 
/* Footer links */ 
 
.footer-distributed .footer-links{ 
 color:  #ffffff; 
 margin: 20px 0 12px; 
 padding: 0; 
} 
 
.footer-distributed .footer-links a{ 
 display:inline-block; 
 line-height: 1.8; 
  font-weight:400; 
 text-decoration: none; 
 color:  inherit; 
} 
 
.footer-distributed .footer-company-name{ 
 color:  #fff; 
 font-size: 14px; 
 font-weight: normal; 
 margin: 0; 
} 
 
/* Footer Center */ 
.footer-distributed { 
  background-color: #1d3f39; 
} 
 
.footer-distributed .footer-center{ 
 width: 35%; 
} 
 
.footer-distributed .footer-center i{ 
 background-color:  #1d3f39; 
 color: #ffffff; 
 font-size: 25px; 
 width: 38px; 
 height: 38px; 
 border-radius: 50%; 
 text-align: center; 
 line-height: 42px; 
 margin: 10px 15px; 
 vertical-align: middle; 
} 
 
.footer-distributed .footer-center i.fa-envelope{ 
 font-size: 17px; 
 line-height: 38px; 
} 
 
.footer-distributed .footer-center p{ 
 display: inline-block; 
 color: #ffffff; 
  font-weight:400; 
 vertical-align: middle; 
 margin:0; 
} 
 
.footer-distributed .footer-center p span{ 
 display:block; 
 font-weight: normal; 
 font-size:14px; 
 line-height:2; 
} 
 
.footer-distributed .footer-center p a{ 
 color:  #fff; 
 text-decoration: none;; 
} 
 
.footer-distributed .footer-links a:before { 
  content: "|"; 
  font-weight:300; 
  font-size: 20px; 
  left: 0; 
  color: #fff; 
  display: inline-block; 
  padding-right: 5px; 
} 
 
.footer-distributed .footer-links .link-1:before { 
  content: none; 
} 
 
/* Footer Right */ 
 
.footer-distributed .footer-right{ 
 width: 20%; 
} 
 
.footer-distributed .footer-company-about{ 
 line-height:20px; 
 color:  #92999f; 
 font-size: 13px; 
 font-weight: normal; 
 margin: 0; 
} 
 
.footer-distributed .footer-company-about span{ 
 display: block; 
 color:  #ffffff; 
 font-size: 14px; 
 font-weight: bold; 
 margin-bottom: 20px; 
} 
 
.footer-distributed .footer-icons{ 
 margin-top: 25px; 
} 
 
.footer-distributed .footer-icons a{ 
 display: inline-block; 
 width: 35px; 
 height: 35px; 
 cursor: pointer; 
 background-color:  #33383b; 
 border-radius: 2px; 
 
 font-size: 20px; 
 color: #ffffff; 
 text-align: center; 
 line-height: 35px; 
 
 margin-right: 3px; 
 margin-bottom: 5px; 
} 
 
/* If you don't want the footer to be responsive, remove these media queries */ 
 
@media (max-width: 880px) { 
 
 .footer-distributed{ 
  font: bold 14px sans-serif; 
 } 
 
 .footer-distributed .footer-left, 
 .footer-distributed .footer-center, 
 .footer-distributed .footer-right{ 
  display: block; 
  width: 100%; 
  margin-bottom: 40px; 
  text-align: center; 
 } 
 
 .footer-distributed .footer-center i{ 
  margin-left: 0; 
 } 
 
} 
.logo{ 
  height: 10vh; 
  width: 10vh; 
}